.repeat-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--color-table-row-dark-bg);
  display: flex;
  gap: 0.5rem;
}

.info {
  padding-bottom: 0.5rem;
  background-color: var(--color-table-row-dark-bg);
}
